name: Latest Grafana API compatibility check
on: [pull_request]

jobs:
  compatibilitycheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744
      - name: Setup Node.js environment
        uses: actions/setup-node@3235b876344d2a9aa001b8d1453c930bba69e610
        with:
          node-version: '22'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Build plugin frontend
        run: npm run build
      - name: Compatibility check plugin
        run: npx @grafana/levitate@latest is-compatible --path packages/grafana-llm-app/src/module.ts --target @grafana/data,@grafana/ui,@grafana/runtime
      - name: Compatibility check frontend library
        run: npx @grafana/levitate@latest is-compatible --path packages/grafana-llm-frontend/src/index.ts --target @grafana/data,@grafana/ui,@grafana/runtime
