name: Run tests
on: [pull_request]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744
        with:
          persist-credentials: false
      - name: Setup Node.js environment
        uses: actions/setup-node@3235b876344d2a9aa001b8d1453c930bba69e610
        with:
          node-version: '22'
          cache: 'npm'
      - name: Setup Go environment
        uses: actions/setup-go@19bb51245e9c80abacb2e91cc42b33fa478b8639
        with:
          go-version-file: packages/grafana-llm-app/go.mod
          cache-dependency-path: packages/grafana-llm-app/go.sum
      - name: Install Mage
        uses: magefile/mage-action@6f50bbb8ea47d56e62dee92392788acbc8192d0b
        with:
          install-only: true
      - name: Install dependencies
        run: npm ci
      - name: Build plugin
        run: npm run build:all
      - name: Run frontend tests
        run: npm run test:ci
      - name: Run backend tests
        run: npm run backend:test
